.form{
    background-color:black;
    font-size:36px;
    font-family: monospace;
    width: 350px;
    padding: 10px;
    color: grey;
    margin: auto;
    opacity: 0.7;
}

.tex{
    color:black;
    font-size: 28px;
}

.navbar{
    width: auto;
    background-color: black;
    height: 70px;
    opacity: 0.7;
}

.ui{
    padding: 200;
    line-height: 36px;
    margin-top: 50px;
    align-content: center;
}

.ui li{
    list-style: none;
    display: inline;
}
.ui button{
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}
.ui a{
    text-decoration: none;
}

body{
    background-color:grey;
    font-family:"Roboto",sans-serif;
    font-size: 42px;
    color: crimson;
    margin:auto;
    background-image: url(abstract-art-artistic-1020315.jpg);
    
    text-align: center;
    }

.tabl{
    background-color: antiquewhite;
    border-bottom-style: groove;
    border-color: aliceblue;
    color: black;
    border-radius: 10px;
    border: 10px;
    border-color: black;
}
#hover{
    background-color:wheat;
    opacity: .8;
    color:currentColor;
    border-width: inherit;
    cursor:grab;
    width: inherit;
    font-size: 30px;
    
    
}
.ddd-content a{
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

#hover:hover{
    background-color:darkgrey;
    color:currentColor;
    border-color: currentColor;
    cursor:grab;
    width: inherit;
    font-size: 40px;
    transition-delay: 0.4s;
    
}
.lll{
    text-decoration: none;
    color: black;
     color:currentColor;
}
.patti{
    background-color: black;
    opacity: .7;
    font-size: 60px;
}
